# Practice Case - EDA

## iykra Data Fellowship Batch 6
by Aldo Alkautsar

In [1]:
# import library
import pandas as pd

In [2]:
df = pd.read_csv('epl_1819.csv')
df

,Team,category,general_league_position,finance _live_games_televised,finance _tv_revenue,general_matches_played,general_won,general_draw,general_lost,attack_scored,...,defence_saves,defence_blocks,defence_interceptions,defence_tackles,defence_tackles_last_man,defence_clearances,defence_clearances_headed,defence_penalty_conceeded,attack_posession,attack_pass_accuracy
0,Manchester City,Champions League,1,26,150986355,38,32,2,4,95,...,58,63,362,518,0,543,295,4,64.0,89.0
1,Liverpool,Champions League,2,29,152425146,38,30,7,1,89,...,76,78,314,610,2,639,317,1,58.8,84.4
2,Chelsea,Champions League Qualification,3,25,146030216,38,21,9,8,63,...,85,73,351,618,2,593,330,2,59.9,87.6
3,Tottenham,Champions League Qualification,4,26,145230801,38,23,2,13,67,...,121,112,326,626,3,770,411,5,56.7,83.2
4,Arsenal,Europa League,5,25,142193180,38,21,7,10,73,...,133,118,412,609,2,762,404,7,56.1,83.3
5,Manchester United,Europa League,6,27,142512868,38,19,9,10,65,...,122,128,355,581,2,785,370,6,53.3,82.3
6,Wolverhampton,Europa League Qualification,7,15,127165114,38,16,9,13,47,...,100,148,501,720,2,824,464,4,47.4,78.2
7,Everton,No UEFA Competitions,8,18,128603905,38,15,9,14,54,...,94,85,456,700,4,825,430,5,51.0,77.3
8,Leicester,No UEFA Competitions,9,15,123328078,38,15,7,16,51,...,90,96,436,676,4,945,500,5,50.8,79.2
9,West Ham,No UEFA Competitions,10,16,122528663,38,15,7,16,52,...,148,141,457,723,5,855,397,5,49.0,78.7
10,Watford,No UEFA Competitions,11,10,113895527,38,14,8,16,52,...,127,120,426,655,8,956,447,5,47.4,76.1
11,Crystal Palace,No UEFA Competitions,12,12,114215215,38,14,7,17,51,...,113,141,446,730,2,940,467,5,46.6,76.8
12,Newcastle,No UEFA Competitions,13,19,120130418,38,12,9,17,42,...,95,134,506,714,4,"1,120",564,7,42.9,72.9
13,Bournemouth,No UEFA Competitions,14,10,108139973,38,13,6,19,56,...,110,152,371,526,5,"1,019",515,5,47.7,78.1
14,Burnley,No UEFA Competitions,15,11,107340558,38,11,7,20,45,...,140,222,365,583,5,"1,080",539,5,43.4,70.3
15,Southampton,No UEFA Competitions,16,10,104302937,38,9,12,17,45,...,114,153,548,699,4,"1,068",502,3,45.4,74.0
16,Brighton,No UEFA Competitions,17,13,105741728,38,9,9,20,35,...,111,170,463,681,4,921,499,10,44.1,74.8
17,Cardiff,Relegated,18,12,102704107,38,10,4,24,34,...,141,147,528,655,4,978,448,8,39.1,63.9
18,Fulham,Relegated,19,13,101904692,38,7,5,26,34,...,147,144,433,591,0,971,443,7,49.2,80.3
19,Huddersfield,Relegated,20,10,96628865,38,3,7,28,22,...,114,130,530,710,2,658,246,8,47.1,75.8

### Data Understanding

In [3]:
df.columns

Index(['Team', 'category', 'general_league_position',
       'finance _live_games_televised', 'finance _tv_revenue',
       'general_matches_played', 'general_won', 'general_draw', 'general_lost',
       'attack_scored', 'defence_goals_conceeded', 'general_goal_difference',
       'general_points', 'general_squad_size', 'general_squad_average_age',
       'general_squad_foreigners', 'finance _team_market',
       'finance _market_average', 'attack_passes', 'attack_passes_through',
       'attack_passes_long', 'attack_passes_back', 'attack_crosses',
       'attack_corners_taken', 'attack_shots', 'attack_shots_on_target',
       'attack_goals_headed', 'attack_goals_penalty', 'attack_goals_box',
       'attack_goals_outsidebox', 'general_card_yellow', 'general_card_red',
       'attack_goals_counter', 'attack_goals_freekick', 'defence_saves',
       'defence_blocks', 'defence_interceptions', 'defence_tackles',
       'defence_tackles_last_man', 'defence_clearances',
       'defence_clearances_headed', 'defence_penalty_conceeded',
       'attack_posession', 'attack_pass_accuracy'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 44 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Team                           20 non-null     object
 1   category                       20 non-null     object
 2   general_league_position        20 non-null     int64
 3   finance _live_games_televised  20 non-null     int64
 4   finance _tv_revenue            20 non-null     int64
 5   general_matches_played         20 non-null     int64
 6   general_won                    20 non-null     int64
 7   general_draw                   20 non-null     int64
 8   general_lost                   20 non-null     int64
 9   attack_scored                  20 non-null     int64
 10  defence_goals_conceeded        20 non-null     int64
 11  general_goal_difference        20 non-null     int64
 12  general_points                 20 non-null     int64
 13  general_squad_size             20 non-null     int64
 14  general_squad_average_age      20 non-null     float64
 15  general_squad_foreigners       20 non-null     int64
 16  finance _team_market           20 non-null     int64
 17  finance _market_average        20 non-null     int64
 18  attack_passes                  20 non-null     object
 19  attack_passes_through          20 non-null     int64
 20  attack_passes_long             20 non-null     object
 21  attack_passes_back             20 non-null     object
 22  attack_crosses                 20 non-null     int64
 23  attack_corners_taken           20 non-null     int64
 24  attack_shots                   20 non-null     int64
 25  attack_shots_on_target         20 non-null     int64
 26  attack_goals_headed            20 non-null     int64
 27  attack_goals_penalty           20 non-null     int64
 28  attack_goals_box               20 non-null     int64
 29  attack_goals_outsidebox        20 non-null     int64
 30  general_card_yellow            20 non-null     int64
 31  general_card_red               20 non-null     int64
 32  attack_goals_counter           20 non-null     int64
 33  attack_goals_freekick          20 non-null     int64
 34  defence_saves                  20 non-null     int64
 35  defence_blocks                 20 non-null     int64
 36  defence_interceptions          20 non-null     int64
 37  defence_tackles                20 non-null     int64
 38  defence_tackles_last_man       20 non-null     int64
 39  defence_clearances             20 non-null     object
 40  defence_clearances_headed      20 non-null     int64
 41  defence_penalty_conceeded      20 non-null     int64
 42  attack_posession               20 non-null     float64
 43  attack_pass_accuracy           20 non-null     float64
dtypes: float64(3), int64(35), object(6)
memory usage: 7.0+ KB

In [5]:
df[['attack_passes','attack_passes_long','attack_passes_back','defence_clearances']]

   attack_passes attack_passes_long attack_passes_back defence_clearances
0         26,581              1,814              4,240                543
1         23,638              2,250              3,416                639
2         25,070              1,774              3,874                593
3         21,295              2,267              3,191                770
4         20,805              2,062              3,102                762
5         19,202              2,242              2,634                785
6         16,618              2,552              2,515                824
7         16,494              2,310              2,362                825
8         17,219              2,335              2,593                945
9         16,358              2,315              2,273                855
10        15,462              2,437              2,314                956
11        15,243              2,259              2,233                940
12        13,490              2,680              1,999              1,120
13        15,943              1,932              2,249              1,019
14        13,011              2,898              2,046              1,080
15        14,297              2,394              2,040              1,068
16        14,109              2,623              2,072                921
17        10,226              2,513              1,418                978
18        17,699              2,417              2,750                971
19        15,902              2,603              2,492                658

change the data type

In [6]:
df['attack_passes'] = df['attack_passes'].str.replace(',', '').astype(float)
df['attack_passes_long'] = df['attack_passes_long'].str.replace(',', '').astype(float)
df['attack_passes_back'] = df['attack_passes_back'].str.replace(',', '').astype(float)
df['defence_clearances'] = df['defence_clearances'].str.replace(',', '').astype(float)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 44 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Team                           20 non-null     object
 1   category                       20 non-null     object
 2   general_league_position        20 non-null     int64
 3   finance _live_games_televised  20 non-null     int64
 4   finance _tv_revenue            20 non-null     int64
 5   general_matches_played         20 non-null     int64
 6   general_won                    20 non-null     int64
 7   general_draw                   20 non-null     int64
 8   general_lost                   20 non-null     int64
 9   attack_scored                  20 non-null     int64
 10  defence_goals_conceeded        20 non-null     int64
 11  general_goal_difference        20 non-null     int64
 12  general_points                 20 non-null     int64
 13  general_squad_size             20 non-null     int64
 14  general_squad_average_age      20 non-null     float64
 15  general_squad_foreigners       20 non-null     int64
 16  finance _team_market           20 non-null     int64
 17  finance _market_average        20 non-null     int64
 18  attack_passes                  20 non-null     float64
 19  attack_passes_through          20 non-null     int64
 20  attack_passes_long             20 non-null     float64
 21  attack_passes_back             20 non-null     float64
 22  attack_crosses                 20 non-null     int64
 23  attack_corners_taken           20 non-null     int64
 24  attack_shots                   20 non-null     int64
 25  attack_shots_on_target         20 non-null     int64
 26  attack_goals_headed            20 non-null     int64
 27  attack_goals_penalty           20 non-null     int64
 28  attack_goals_box               20 non-null     int64
 29  attack_goals_outsidebox        20 non-null     int64
 30  general_card_yellow            20 non-null     int64
 31  general_card_red               20 non-null     int64
 32  attack_goals_counter           20 non-null     int64
 33  attack_goals_freekick          20 non-null     int64
 34  defence_saves                  20 non-null     int64
 35  defence_blocks                 20 non-null     int64
 36  defence_interceptions          20 non-null     int64
 37  defence_tackles                20 non-null     int64
 38  defence_tackles_last_man       20 non-null     int64
 39  defence_clearances             20 non-null     float64
 40  defence_clearances_headed      20 non-null     int64
 41  defence_penalty_conceeded      20 non-null     int64
 42  attack_posession               20 non-null     float64
 43  attack_pass_accuracy           20 non-null     float64
dtypes: float64(7), int64(35), object(2)
memory usage: 7.0+ KB

check for duplicate

In [8]:
df.duplicated().any()

False

check for null or nun

In [9]:
df.isnull().sum()

Team                             0
category                         0
general_league_position          0
finance _live_games_televised    0
finance _tv_revenue              0
general_matches_played           0
general_won                      0
general_draw                     0
general_lost                     0
attack_scored                    0
defence_goals_conceeded          0
general_goal_difference          0
general_points                   0
general_squad_size               0
general_squad_average_age        0
general_squad_foreigners         0
finance _team_market             0
finance _market_average          0
attack_passes                    0
attack_passes_through            0
attack_passes_long               0
attack_passes_back               0
attack_crosses                   0
attack_corners_taken             0
attack_shots                     0
attack_shots_on_target           0
attack_goals_headed              0
attack_goals_penalty             0
attack_goals_box                 0
attack_goals_outsidebox          0
general_card_yellow              0
general_card_red                 0
attack_goals_counter             0
attack_goals_freekick            0
defence_saves                    0
defence_blocks                   0
defence_interceptions            0
defence_tackles                  0
defence_tackles_last_man         0
defence_clearances               0
defence_clearances_headed        0
defence_penalty_conceeded        0
attack_posession                 0
attack_pass_accuracy             0
dtype: int64

In [10]:
df.isna().sum()

Team                             0
category                         0
general_league_position          0
finance _live_games_televised    0
finance _tv_revenue              0
general_matches_played           0
general_won                      0
general_draw                     0
general_lost                     0
attack_scored                    0
defence_goals_conceeded          0
general_goal_difference          0
general_points                   0
general_squad_size               0
general_squad_average_age        0
general_squad_foreigners         0
finance _team_market             0
finance _market_average          0
attack_passes                    0
attack_passes_through            0
attack_passes_long               0
attack_passes_back               0
attack_crosses                   0
attack_corners_taken             0
attack_shots                     0
attack_shots_on_target           0
attack_goals_headed              0
attack_goals_penalty             0
attack_goals_box                 0
attack_goals_outsidebox          0
general_card_yellow              0
general_card_red                 0
attack_goals_counter             0
attack_goals_freekick            0
defence_saves                    0
defence_blocks                   0
defence_interceptions            0
defence_tackles                  0
defence_tackles_last_man         0
defence_clearances               0
defence_clearances_headed        0
defence_penalty_conceeded        0
attack_posession                 0
attack_pass_accuracy             0
dtype: int64

In [11]:
df.head()

,Team,category,general_league_position,finance _live_games_televised,finance _tv_revenue,general_matches_played,general_won,general_draw,general_lost,attack_scored,...,defence_saves,defence_blocks,defence_interceptions,defence_tackles,defence_tackles_last_man,defence_clearances,defence_clearances_headed,defence_penalty_conceeded,attack_posession,attack_pass_accuracy
0,Manchester City,Champions League,1,26,150986355,38,32,2,4,95,...,58,63,362,518,0,543.0,295,4,64.0,89.0
1,Liverpool,Champions League,2,29,152425146,38,30,7,1,89,...,76,78,314,610,2,639.0,317,1,58.8,84.4
2,Chelsea,Champions League Qualification,3,25,146030216,38,21,9,8,63,...,85,73,351,618,2,593.0,330,2,59.9,87.6
3,Tottenham,Champions League Qualification,4,26,145230801,38,23,2,13,67,...,121,112,326,626,3,770.0,411,5,56.7,83.2
4,Arsenal,Europa League,5,25,142193180,38,21,7,10,73,...,133,118,412,609,2,762.0,404,7,56.1,83.3

no. 3

In [ ]:
#import other libraries
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(10,10))
sns.barplot(x='general_won', y="Team", data=df, order=df.sort_values('general_won').Team)
plt.show

In [ ]:
plt.figure(figsize=(10, 10))
sns.barplot(x='attack_scored', y="Team", data=df, order=df.sort_values('attack_scored').Team)
plt.show

In [ ]:
plt.figure(figsize=(10, 10))
sns.barplot(x='attack_posession', y="Team", data=df, order=df.sort_values('attack_posession').Team)
plt.show

number 4

In [ ]:
df_defence = df[["defence_goals_conceeded","defence_saves","defence_blocks"]]
df_defence

In [ ]:
plt.figure(figsize=(10, 10))
sns.barplot(x='defence_saves', y="Team", data=df, order=df.sort_values('defence_saves').Team)
plt.show

In [ ]:
plt.figure(figsize=(10, 10))
sns.barplot(x='defence_blocks', y="Team", data=df, order=df.sort_values('defence_blocks').Team)
plt.show

In [ ]:
plt.figure(figsize=(10, 10))
sns.barplot(x='defence_goals_conceeded', y="Team", data=df, order=df.sort_values('defence_goals_conceeded').Team)
plt.show

In [ ]:
df_defence_sum = df_defence.sum(axis = 1, skipna = True)
df_defence_sum

In [ ]:
df_defence['sum']=df_defence_sum
df_defence

In [ ]:
df_defence.sort_values(by='sum', ascending= False).head(1)

In [ ]:
df_defence.sort_values(by='defence_goals_conceeded', ascending= False).head(1)

In [ ]:
df_defence.sort_values(by='defence_saves', ascending= False).head(1)

In [ ]:
df_defence.sort_values(by='defence_blocks', ascending= False).head(1)

number 5

In [ ]:
df_finance = df[['Team','finance _live_games_televised', 'finance _tv_revenue',
       'finance _team_market',
       'finance _market_average']]
df_finance.sort_values(by='finance _market_average', ascending=False).head()